<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Dobby needs camera access to scan receipts and track your expenses</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Dobby needs access to your photos to import receipt images</string>
</dict>
</plist>
